/*
// File name: about-page.styles.css
// File date: 12/12/22
// Programmer: Manuel Sandoz Santiago
// Description: In this document you can find the custom CSS used in the about-page.html document. These styles are used to set sizing and color overrides of the vanilla Bootstrap library. 
// Updated on: --/--/--
*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  background-color: #A8BDB2;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 75vh;
  background: url("../images/me_hero.jpeg") top center;
  background-size: cover;
  padding: 0 15px;
  margin-bottom: 5%;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

#hero .btn-get-started {
  font-size: 64px;
  transition: 0.5s;
  color: #fff;
  height: 60px;
}

#hero .btn-get-started:hover {
  padding-top: 10px;
  color: #d43076;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about{
  margin-bottom: 5%;
}

.about .content {
  padding: 30px 0;
  margin-bottom: 5%;
}

.about .content h3 {
  font-weight: 500;
  font-size: 34px;
  color: #2c4964;
}

.about .content p {
  margin-bottom: 0;
}

.about .content .count-box {
  padding: 20px 0;
  width: 100%;
}

.about .content .count-box i {
  display: block;
  font-size: 36px;
  color: #eeafca;
  float: left;
  line-height: 0;
}

.about .content .count-box span {
  font-size: 36px;
  line-height: 20px;
  display: block;
  font-weight: 700;
  color: #2c4964;
  margin-left: 50px;
  font-family: "Playfair Display", serif;
}

.about .content .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 50px;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #437099;
}

.about .content .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #437099;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.about .content .count-box a:hover {
  color: #6b96be;
}

.about .image {
  background: url("../images/me_about.jpg") center center no-repeat;
  background-size: cover;
  min-height: 400px;
}

@media (max-width: 991px) {
  .about .image {
    text-align: center;
  }

  .about .image img {
    max-width: 80%;
  }
}

@media (max-width: 667px) {
  .about .image img {
    max-width: 100%;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact-section{
  background: #f5f5f5;
  padding-bottom: 1.5rem;
}

.contact-mf {
  margin-top: 4rem;
}

@media (min-width: 767px) {
  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

.php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.php-email-form input,
.php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.php-email-form input:focus,
.php-email-form textarea:focus {
  border-color: #A8BDB2;
}

.php-email-form input {
  padding: 10px 15px;
}

.php-email-form textarea {
  padding: 12px 15px;
  margin-bottom: 0;
}

.php-email-form button[type=submit] {
  background: #0078ff;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.php-email-form button[type=submit]:hover {
  background: #3393ff;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*------/ Socials /------*/
.socials {
  padding: 1.5rem 0;
}

.socials ul li {
  display: inline-block;
}

.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.2rem;
  border-radius: 50%;
  line-height: 1.6;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px #A8BDB2;
  transition: all 500ms ease;
  color: #A8BDB2;
}

.socials .ico-circle:hover {
  background-color: #A8BDB2;
  color: #fff;
  box-shadow: 0 0 0 3px #cde1f8;
  transition: all 500ms ease;
}

/*------/ Ul resect /------*/
.ul-resect,
.widget-tags ul,
.widget-sidebar .list-sidebar,
.box-comments .list-comments,
.blog-wrapper .post-meta ul,
.list-ico,
.socials ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

/*------/ Ico Circle /------*/
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #A8BDB2;
  display: block;
}