/*
// File name: profile.styles.css
// File date: 9/21/22
// Programmer: Manuel Sandoz Santiago
// Description: <<missing>>
*/

#review {
  height: 150px;
  resize: none;
}

.file-upload__container {
  width: 18rem;
}

picture {
  align-self: center;
}

.review-img {
  display: block;
  max-height: 600px;
  max-width: 247px;
  width: auto;
  height: auto;
}