/*
// File name: review-page.styles.css
// File date: 9/21/22
// Programmer: Manuel Sandoz Santiago
// Description: In this document you can find the custom CSS used in the review-page.html document. These styles are used to set sizing and color overrides of the vanilla Bootstrap library. 
*/

#f-review {
  height: 150px;
  resize: none;
}

.file-upload__container {
  width: 18rem;
  margin-left: 25%;  
}

picture {
  align-self: center;
  display: block;
  max-height: 600px;
  max-width: 247px;
  width: auto;
  height: auto;
}

.review-img {
  min-height: 330px;
}

header {
  background-color: #A8BDB2;
}

span.custom-input-txt-clr {
  background-color: #A8BDB2;
}

input[type="file"]::file-selector-button {
  background-color: #A8BDB2;
}
